@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --red: hsl(4, 100%, 67%);
    --blue-dark: hsl(234, 29%, 20%);
    --blue: hsl(235, 18%, 26%);
    --grey: hsl(0, 0%,58%);
    --white: hsl(0, 0%, 100%);
}

body{
    font-family: 'Roboto';
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
}

.container{
    display: flex;
    background-color: white;
    width: 925px;
    height: 640px;
    border-radius: 35px;
    padding: 23.4px 24px;
}

.container .left{
    padding: 65px 0 0 40px;
    margin-right: 53px;
}

h1{
    font-size: 55.5px;
    color: var(--blue-dark);
}

.container h2{
    font-size: 15.5px;
    color: var(--blue-dark);
    font-weight: 500;
    margin: 22px 0;
    opacity: 90%;
}

.container p{
    color: var(--blue-dark);
    font-weight: 500;
}

.container .icon_success{
    width: 5.5%;
    margin-right: 15px;
    margin-top: 8px;
}

.container h3{
    font-size: 11.5px;
    margin-top: 41px;
}

.container input{
    width: 370px;
    height: 55px;
    padding-left: 25px;
    font-size: 16px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    outline: none;
}

.container input:hover{
    border: 1px solid black;
}

.container button{
    width: 370px;
    height: 55px;
    margin-top: 27px;
    font-size: 14px;
    border: none;
    background-color: var(--blue-dark);
    color: white;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

.container button:hover{
    background: linear-gradient(to right, #ff5476, #ff673e);
    box-shadow: 0 10px 25px var(--red);
}


.container_2{
    background-color: white;
    width: 510px;
    height: 525px;
    border-radius: 40px;
    padding: 50px 65px;
        display: none;
}

.container_2 h2{
    font-size: 55px;
    color: var(--blue-dark);
    margin-top: 25px;
    margin-bottom: 15px;
}

.container_2 p{
    margin-top: 5px;
    font-weight: 500;

}

.container_2 span{
    color: var(--blue-dark);
    font-weight: 800;
}

.container_2 button{
    width: 380px;
    height: 55px;
    border: none;
    background-color: var(--blue-dark);
    color: white;
    font-size: 15px;
    font-weight: 700;
    border-radius: 8px;
    margin-top: 50px;
    cursor: pointer;
}

.container_2 button:hover{
    background: linear-gradient(to right, #ff5476, #ff673e);
    box-shadow: 0 10px 25px var(--red);
}

.center{
    display: flex;
}

h4{
    font-size: 11.5px;
    color: var(--red);
    margin-top: 41px;
    margin-left: 193px;
    display: none;
}